.social {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  background: white;
  padding-top: 10px;
  max-width: 540px;
  margin: 0 auto;
  a {
    margin-right: 0;
    margin-left: 10px;
    font-family: ProximaNovaCond;
    text-decoration: none;
    color: #7d7d7d;
  }
  .start-over {
    // flex: 1 1 0;
    align-self: flex-start;
    a {
      margin-left: 0;
    }
  }
  .button {
    width: 30px;
    margin-right: 10px;
    svg {
      width: 30px;
      fill: #709602;
      &:hover {
        // fill: #FF7177;
        opacity: 0.6;
      }
    }
  }
}


@media (max-width: 480px) {
  .social {
    max-width: 320px;
    a {
      margin-right: 10px;
      margin-left: 10px;
    }
    .start-over a {
      margin-top: 10px;
      margin-left: 0;
    }
    .button svg {
      width: 36px;
    }
  }
  .result_container {
    padding: 25px !important;
    font-size: 16px !important;
    line-height: 32px !important;
  }
}
