.social {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  background: white;
  padding-top: 10px;
  max-width: 540px;
  margin: 0 auto;
  a {
    margin-right: 0;
    margin-left: 10px;
    font-family: ProximaNovaCond;
    text-decoration: none;
    color: #7d7d7d;
  }
  .start-over {
    // flex: 1 1 0;
    align-self: flex-start;
    a {
      margin-left: 0;
    }
  }
  .button {
    width: 30px;
    margin-right: 10px;
    svg {
      width: 30px;
      fill: #709602;
      &:hover {
        // fill: #FF7177;
        opacity: 0.6;
      }
    }
  }
}
